name: Deploy

on:
  push:
    branches: [ "main" ]
    paths:
      - "Api/**"

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build \
            -f Api/Dockerfile \
            -t ghcr.io/${{ secrets.PROJECT_NAME }}:${{ github.sha }} \
            -t ghcr.io/${{ secrets.PROJECT_NAME }}:latest \
            Api

          docker push ghcr.io/${{ secrets.PROJECT_NAME }}:${{ github.sha }}
          docker push ghcr.io/${{ secrets.PROJECT_NAME }}:latest

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/projects/${{ secrets.PROJECT_NAME }}
            docker compose pull
            docker compose up -d
